
/* header */

.header{
    width: 100%;
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
}

/*.header-content{
    overflow: hidden;  to solve float problem 
}*/

.clear {
    clear: both; /* to solve float problem */
}

.header .logo {
    width: 40%;
    float: left;
}

.header .logo img {
    width: 20%;
    margin-top: 10px;
}

.header .nav{
    float: left;
    list-style: none;
    text-align: right;
}

.header .nav > li{
    display: inline-block;
    text-align: left;
}

.header .nav > li > a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding: 30px;
    display: block;
}

.header .nav > li > a.active::after ,
.header .nav > li > a::after {
    content: "";
    display: block;
    height: 3px;
    margin-top: 2px;
    background-color: #6195ff;
    transition: width 0.5s;
}

.header .nav > li  > a.active::after{
    width: 100%;
}

.header .nav > li > a::after {
    width: 0;
}

.header .nav > li > a:hover::after{
    width: 100%;
}

.dropdown{
    position: relative;

}

.dropdown-menu {
    position: absolute;
    background: #6195ff;
    width: 100px;
    text-align: center;
    top: 80%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.dropdown-menu a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;

}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}
